<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script type="module" crossorigin src="/assets/main.15c7961b.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/_plugin-vue_export-helper.ab70add0.js">
    <link rel="modulepreload" crossorigin href="/assets/pinia.323941eb.js">
    <link rel="stylesheet" href="/assets/_plugin-vue_export-helper.6433a6c9.css">
  </head>
  <body>
    <div id="home"></div>
    
    <style>
        html {
            overflow: hidden !important;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        html::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    </style>
  </body>
</html>
